@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
:root {
  --f-18: 18px;
  --f-16: 16px;
  --f-14: 14px;

  --c-light: #fff;
  --c-dark: #242526;
  --c-gray: #303236;
  --c-gray-light: #3d4045;

  --animate: 350ms;

  --border-rad: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
body {
  background-color: var(--c-gray);
  transition: var(--animate) all;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 60px;
  background-color: var(--c-dark);
  border-radius: var(--border-rad);
  margin-top: 10px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: sticky;
  top: 0;
  z-index: 99;
}
.footer {
  width: 100%;
  height: 60px;
  background-color: var(--c-dark);
  border-radius: var(--border-rad);
  margin-top: 15px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 99;
}
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav a {
  color: var(--c-light);
  font-size: var(--f-18);
}
.logo {
  display: flex;
  align-items: center;
  font-weight: 200;
}
.logo span {
  padding-left: 15px;
  font-size: 24px;
  color: var(--c-light);
}
.helpers {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--c-light);
}
.helpers .social {
  font-size: 24px;
}
.helpers .social * {
  margin-right: 10px;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-rad);
  background-color: var(--c-dark);
  align-items: center;
  position: relative;
  user-select: none;
}
.card img {
  width: 100%;
  border-radius: var(--border-rad);
  object-fit: cover;
}
.card .name {
  font-size: var(--f-18);
  color: var(--c-light);
  font-weight: 500;
  padding-top: 15px;
  margin-bottom: 15px;
}
.card .tags {
  height: auto;
}
.card .tags span {
  background-color: var(--c-light);
  color: var(--c-gray);
  padding: 3px 5px;
  font-size: var(--f-14);
  margin-right: 5px;
  border-radius: 6px;
}
.card .tags span:last-child {
  margin-right: 0;
}
.card .url {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  width: 100%;
}
.btn {
  background-color: var(--c-gray);
  margin: 0 7px;
  color: var(--c-light);
  font-size: var(--f-16);
  height: 40px;
  min-width: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 40px;
  padding: 0 10px;
  font-weight: 200;
  transition: var(--animate) all;
}
.btn-hover:hover {
  background-color: var(--c-light);
  color: var(--c-gray-light);
}

.btn-disable {
  cursor: not-allowed;
  text-decoration: line-through;
}
.disable:hover {
  cursor: not-allowed;
  background-color: var(--c-gray-light);
  color: var(--c-light);
}
