@media only screen and (min-width: 398px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .nav {
    flex-direction: row;
  }
}
@media only screen and (min-width: 614px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .row {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .section .title {
    left: 95px;
  }

  .section .profile {
    flex-direction: row;
    text-align: left;
  }
  .section .profile img {
    margin-right: 30px;
  }
  .section .profile div .connect {
    justify-content: flex-start;
  }
  .helpers {
    display: flex;
  }
  .helpers .social {
    display: flex;
  }
}
@media only screen and (min-width: 900px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .row {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .logo {
    display: flex;
  }
}
